
EyeType/.DS_Store

*.xcuserstate

EyeType/EyeType.xcodeproj/project.xcworkspace/xcuserdata/scvsoft.xcuserdatad/WorkspaceSettings.xcsettings

EyeType/EyeType.xcodeproj/xcuserdata/scvsoft.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

EyeType/EyeType.xcodeproj/xcuserdata/scvsoft.xcuserdatad/xcschemes/EyeType.xcscheme

EyeType/EyeType.xcodeproj/xcuserdata/scvsoft.xcuserdatad/xcschemes/xcschememanagement.plist

EyeType/EyeType.xcodeproj/project.xcworkspace/xcuserdata/scvsoft.xcuserdatad/xcdebugger/Expressions.xcexplist

EyeType/EyeType.xcodeproj/xcuserdata/hernan.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store

EyeType/EyeType/.DS_Store

EyeType/EyeType/resources/.DS_Store

EyeType/EyeType.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

EyeType/EyeType.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

EyeType/EyeType.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/EyeType.xcscheme
