
EyeType/.DS_Store

*.xcuserstate

EyeType/EyeType.xcodeproj/project.xcworkspace/xcuserdata/scvsoft.xcuserdatad/WorkspaceSettings.xcsettings

EyeType/EyeType.xcodeproj/xcuserdata/scvsoft.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

EyeType/EyeType.xcodeproj/xcuserdata/scvsoft.xcuserdatad/xcschemes/EyeType.xcscheme

EyeType/EyeType.xcodeproj/xcuserdata/scvsoft.xcuserdatad/xcschemes/xcschememanagement.plist

EyeType/EyeType.xcodeproj/project.xcworkspace/xcuserdata/scvsoft.xcuserdatad/xcdebugger/Expressions.xcexplist
